@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
 
}

 body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(210, 183, 183);
} 


 /* .slider-container {
  max-width: 1120px;
  width: 100%;
  background-color: grey;
  padding: 40px 0;
  margin: 0 auto; /* Agrega margen horizontal automático para centrar */
/* }   */ 


.slide-content{
  margin: 0 40px;
}

 .card{
  
  border-radius: 25px;
  background-color: #fff;

} 
.image-content,
.card-content{

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
  
}

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(175, 148, 187);
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: rgb(175, 148, 187);
}
.overlay::after{
  border-radius: 0 25px 0 0 ;
  background-color: #fff;
}

.car-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: white;
  padding: 3px;

}

.car-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid black;

}

.name{
  font-size:  18px;
  font-weight: 500;
  font-weight: bold;
  color:black;
}

.description{
  font-size: 14px;
  color: black;
  font-weight: bold;
  text-align: center;

}

 .button{
  border: none;
  font-size: 16px;
  color: #fff;
  padding:  8px 16px;
  background-color: #4070f4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
} 


 .button:hover{
  background: #265df2;

}

/* h1 {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}  */
.slider-container {
  max-width: 1120px;
  width: 100%;
  background-color: rgb(175, 148, 187);
  padding: 40px 0;
  margin: 50 auto;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 45px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px; /* Margen superior agregado para centrar en la parte superior */
}
